{% extends 'base.html.twig' %}

{% block title %}à propos de moi{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-between h-100 p-5">
        <h1 class='mb-5'>contactez-moi</h1>
        <p>
            Je suis Théo Saez, j'ai 22ans, j'habite Talence (33).<br>
            Titulaire d'un diplôme Developpeur Web, j'ai pu me lié d'amour avec le graphisme de part précédentes experiences.<br>
            J'ai développé ce portfolio dans le but présenter mes compétences, mes créations, qui je suis et ce que j'aime.
            <br>
            Mes principaux hobbies sont le <a href="">BMX</a>, mais également l'informatique et le <a href="">gaming</a>.
        </p>

        <a class="button">télécharger mon CV</a> 
    </div>
       
    <style>
        body{
            height: 100vh;
        }
    </style> 

{% endblock %}
