{% extends 'base.html.twig' %}

{% block title %}Création - web{% endblock %}

{% block body %}

<h1 class='mt-4 mb-5'>création web</h1>
<p class="mb-3
"> Pratiquant le développement web depuis 2019 la plupart de ces créations ont étaient crées dans un cadre personnel.<br>
</p>
    <div class="m-0 p-0 row h-100">
        
            {% for web  in webs | reverse%}
                <div class="col-3 p-0 m-0">
                    <img class="w-100" src="/img/miniature_web/{{web.miniature}}">
                </div>
            {% endfor %}        
    </div>
{% endblock %}
