{% extends 'base.html.twig' %}

{% block title %}Création - web{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/crea.css">        
{% endblock %}

{% block body %}

<h1 class='my-5'>création web</h1>
<p class="mb-3
"> Titulaire d’un titre professionnel développeur web et web de niveau 5 depuis décembre 2019, j’ai eu l’occasion de découvrir le métier de développeur web grâce à l’équipe <a href="https://www.pepite-sante.fr/">PEPITE Santé</a> dans le cadre d’un stage de 6 mois.
Les créations ci-dessous ont été développées principalement en HTML, CSS, JavaScript et PHP.

<br><br>
</p>
    <div class="m-0 p-0 row h-100">
        
            {% for web  in webs | reverse%}
                <div class="crea d-flex align-items-center justify-content-center col-md-3 col-6 p-2 m-0 position-relative">
                     <a href="https://{{web.url}}" target="_blank" class="a-crea d-flex flex-column align-items-center justify-content-center text-center h-100 w-100 position-absolute">
                        <h2 class="name-crea">{{web.client}}</h2>
                        <p class="name-crea">{{web.categorie}}</p>
                    </a>
                    <span class="sail-crea h-100 w-100 position-absolute"></span>
                    <img class="img-fluid" src="/img/miniature_web/{{web.miniature}}">

                </div>
            {% endfor %}        
    </div>
{% endblock %}


{% block javascripts %}
    <script src='/js/crea.js'></script>
{% endblock %}