{% extends 'base.html.twig' %}

{% block title %}TS | Kichoton - Réseaux{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/network.css">
{% endblock %}

{% block navbar %}
 
{% endblock %}


{% block body %}
    <div class='py-1 h-100 d-flex flex-column justify-content-center align-items-center'>
        <h1 class='text-white'>Theo SAEZ | Kichoton</h1>
        <hr>
        
        <a href='https://www.twitch.tv/kichotontv' target='_blank' class='btn-network #6441A5'>
            <i style="font-size: 1.5rem;" class="bi bi-twitch"></i>
            <span>Twitch - KichotonTv</span>
        </a>
        <a href='https://www.theosaez.com' target='_blank'  class='btn-network #161616'>
            <i style="font-size: 1.5rem;" class="bi bi-laptop"></i>
            <span>Site : theosaez.com</span>
        </a>
        <a href='https://www.instagram.com/theosaez_' target='_blank' class='btn-network #E1306C'>
            <i style="font-size: 1.5rem;" class="bi bi-instagram"></i>
            <span>Instagram - @theosaez_</span>
        </a>
        <a href='https://discord.gg/KuXbYdVKZC' target='_blank' class='btn-network #5865F2'>
            <i style="font-size: 1.5rem;" class="bi bi-discord"></i>
            <span>Discord - Kichoton</span>
        </a>
        <a href='https://www.tiktok.com/@kichoton' target='_blank' class='btn-network #FE2C55'>
            <i style="font-size: 1.5rem;" class="bi bi-tiktok"></i>
            <span>TikTok - @kichoton</span>
        </a>
        <a href='https://twitter.com/SaezTheo' target='_blank' class='btn-network #1DA1F2'>
            <i style="font-size: 1.5rem;" class="bi bi-twitter"></i>
            <span>Twitter - @SaezTheo</span>
        </a>
        

    </div>
{% endblock %}


{% block javascripts %}
    <script src="/js/network.js"></script>
{% endblock %}

