.a-crea{
    z-index : 2;
    color : white    
}

.a-crea:hover{
    color : white;
    text-decoration : none
}

.sail-crea{
    background-color: black;
    opacity : 0.6;
}

.single-img{
    max-width: 300px
}