

body{
    background-color: #474747;

}

.div-logo-kichoton{
    height: 90vh;
    width: 100%;  
}

.div-logo-kichoton .img-fluid{
    width: 30% !important;  
}

.next{
    height: 2vh;
}

.next img{
    height: 200% ;
}
.twitch{
    height: 90vh;
}