<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Théo SAEZ - portfolio</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>

    <div id="homepage" class="d-flex flex-xl-row flex-column">
        <div id='half-left' class='d-flex flex-column justify-content-center align-items-center'>
            <div>
                <span class='bvn'>Bien</span>
                <span class='dot'></span>
                <br>
                <span class='bvn'>venue</span>
            </div>
            <div class='d-block d-xl-none d-flex flex-column align-items-center'>
                <hr>
                <h1 class='h1'>Théo SAEZ</h1>
                <h4 class='h4'>web / graphisme</h4>
            </div>
        </div>
        <div id='half-right' class='position-relative d-flex flex-column justify-content-center align-items-end'>
                <span class='d-none d-xl-block'>
                    <h1 class='h1'>Théo SAEZ</h1>
                    <h4 class='h4'>web / graphisme</h4>
                </span>
                <div class='position-absolute d-flex w-100 h-100 d-flex justify-content-center align-items-center'>
                    <img id='logo-tete' class='img-fluid h-100' src='img/logo-tete.svg'>
                </div>
        
        </div>
        <div class='position-absolute' id='btn-slider'>
            <div id="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    
    <div id='buttons'class='btn-hidden position-absolute d-flex flex-column justify-content-between align-items-center align-items-xl-start'>
        <a href="" class="button button-anim-out">Graphisme</a>
        <a href="" class="button button-anim-out">Web</a>
        <a href="" class="button button-anim-out">A propos</a>
        <a href="" class="button button-anim-out">Contact</a>
        <br class='d-none d-xl-block'>
        <a href="" class="button button-anim-out">Twitch</a>
        <a href="" class="button button-anim-out">BMX</a>
    </div>

    <span class='position-absolute d-none d-xl-block' id='portfolio'>Portfolio</span>
    <span class='position-absolute d-none d-xl-block' id='date'>02/02/99</span>
    <span class='position-absolute d-none d-xl-block' id='easter'>
        ...
    </span>

    
    
            
</body>

<script src="/js/jquery.js"></script>
<script src="/js/script.js"></script>
<script>

</script>

</html>


