<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Théo SAEZ - portfolio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>

    <div id="homepage">
        <div class="row py-5 h-100">
            <div class="order-md-1 order-2 col-12 col-md-4 col-sm-6 d-flex flex-column justify-content-center align-items-center">
                <a href="{{path('graphic_creation')}}" class="button my-3 my-sm-5">design</a>
                <a href="{{path('web_creation')}}" class="button my-3 my-sm-5">web</a>
            </div>
            <p class="text-center">Bienvenue&nbsp;!</p>
            <div class="position-relative order-md-2  order-1 col-md-4 col-12 d-flex flex-md-column flex-row justify-content-between align-items-center px-5 px-md-0">
                <div class="position-relative">
                    <img id='photo-ts' class="img-fluid" src="img/photo-acceuil.png" alt="photo visage Théo Saez" >
                    <h1 class="position-absolute jetbrains-xtra"><span class="jetbrains-thin fs-4">Théo</span><br>SAEZ</h1>
                </div>
                <img class="img-fluid" id="logo-t-tete"src="img/logo-t-tete.png" alt="Logo Théo SAEZ">
            </div>
            <div class="order-md-3 order-1 col-12 col-md-4 col-sm-6 d-flex flex-column justify-content-center align-items-center">
                <a href="{{path("about_me")}}" class="button my-3 my-sm-5">about me</a>           
                <a href="{{path("contact")}}" class="button button-anim my-3 my-sm-5">contact</a>         
            </div>
        </div>
    </div>

            
</body>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/js/script.js"></script>

</html>


