{% extends "./base.html.twig" %}


{% block title %}Edit - web crea {% endblock %}


{% block body %}

<h1 class="text-center">Edit - web crea</h1>
<h4 class="alert-warning px-3 py-2 mb-5">Attention si il n'y a pas d'url, mettre "-"</h4>

    {{form_start(webcrea_form)}}

    {{ form_end(webcrea_form)}}
{% endblock %}
