{% extends "./base.html.twig" %}


{% block title %}Edit - web crea {% endblock %}


{% block body %}

<h1 class="text-center">Edit - web crea</h1>

    {{form_start(webcrea_form.name)}}
        <div class="form-group">

        </div>
    {{ form_end(webcrea_form)}}
{% endblock %}
