{% extends 'base.html.twig' %}

{% block title %}à propos de moi{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-between h-100 py-5 px-md-5 px-2">
        <h1 class='mb-lg-5 mb-3'>a propos</h1>
        
        <div class="my-5 position-relative d-flex justify-content-center align-items-center">
                
            <h1 class="d-none jetbrains-xtra"><span class="jetbrains-thin fs-4">Théo</span><br>SAEZ</h1>
            <image class="w-25 img-fluid" id="logo-noir" src="img/logo-noir.svg" alt="Logo Théo SAEZ">
        </div>

        <p class="mb-3">
            Je suis Théo Saez, jeune bordelais de 22 ans.<br>
            Titulaire d'un diplôme Developpeur Web-Web Mobile depuis 2019, je me suis lié d’amour avec le développement dès le lycée et j’ai eu l’occasion de découvrir et d’apprécier le graphisme ces dernières années, notamment à travers mes différentes expériences professionnelles.<br>
            J'ai développé ce portfolio dans le but de présenter mes compétences, mes créations, qui je suis et ce que j'aime.
            <br>
            Mes principaux hobbies sont le <a href="{{path("bmx")}}">BMX</a>, l'informatique et le <a href="{{path("kichoton")}}">gaming</a>.          
        </p>

        

        <a href='/CV.pdf' class="button align-self-center">télécharger mon CV</a> 
    </div>
       
    <style>
        body{
            height: 100vh;
            overflow: auto; /* Hide scrollbars */
        }

        #logo-noir{
            width: 25%;
            max-width : 125px
        }

        @media screen and (min-width: 576px) {
            body {
                overflow: hidden;
            }
        }
    </style> 
    


{% endblock %}
