{% extends 'base.html.twig' %}

{% block title %}Oups...{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/404.css">        
{% endblock %}

{% block body %}

    <h1 class='my-5'>Aïe... Cette page n'existe pas... </h1>
    <div class='d-flex flex-column justify-content-center align-items-center'>
        <span style='font-size: 20vh'>error</span>
        <span style='font-size: 35vh; margin: -15%' >404</span>
    </div>

    <style>
        body{
            width: 100vw;
            height: 100vh;
        }

        span{
            color:white; 
            text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black
        }
    </style>
{% endblock %}