{% extends 'base.html.twig' %}

{% block title %}Oups...{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/404.css">        
{% endblock %}

{% block body %}

    <h1 class='my-5'>Aïe... Il y à quelque chose qui cloche...<br>Naviguez via la barre du haut</h1>
    

    <style>
        body{

            display:flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }

        
    </style>
{% endblock %}