{% extends 'base.html.twig' %}

{% block title %}Création - Graphisme{% endblock %}

{% block body %}

<h1 class=' mt-4 mb-5'>graphisme</h1>
<p class="mb-3"> 
    N'ayant jamais fais d'étude dans le graphisme j'ai du apprendre par moi en 2018 en tant que community manager d'un club de foot.<br>
    Par la suite j'ai pris enormement de plaisir à decouvrir les différents outils et à créer différents visuelles, logo et affiches. 
<br><br>
    Voici un apercu de mes capacités. 
</p>
    <div class="m-0 p-0 row h-100">
        
            {% for graphic  in graphics | reverse%}
                <div class="crea col-3 p-0 m-0">
                    <img class="w-100" src="/img/miniature_web/{{graphic.miniature}}">
                </div>
            {% endfor %}        
    </div>
{% endblock %}
