{% extends 'base.html.twig' %}

{% block title %}Hello GraphicCreationController!{% endblock %}

{% block body %}

<h1 class='mb-5'>graphisme</h1>
<p class="mb-3"> 
    N'ayant jamais fais d'étude dans le graphisme j'ai du 
</p>
    <div class="m-0 p-0 row h-100">
        
            {% for graphic  in graphics | reverse%}
                <div class="col-3 p-0 m-0">
                    <img class="w-100" src="/img/miniature_web/{{graphic.miniature}}">
                </div>
            {% endfor %}        
    </div>
{% endblock %}
