{% extends 'base.html.twig' %}

{% block title %}Création - Graphisme{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/crea.css">        
{% endblock %}

{% block body %}

<h1 class='my-5'>graphisme</h1>
<p class="mb-3"> 
    Autoformé aux outils de design tels que Illustrator ou Photoshop au cours d’un service civique au sein du club de football du Stade Bordelais en 2018, je prends depuis énormément de plaisir à l’utilisation de ces outils.<br>
Que ce soit dans le cadre professionnel ou bénévole, pour la réalisation d’affiches, de logos, de schémas, de designs ou de projets personnels en tout genre, l’utilisation de ces outils nécessite un apprentissage continu.

 
<br><br>
Vous pouvez observer mon style et ma progression ci-dessous.

</p>
    <div class="m-0 p-0 row h-100">
        
            {% for graphic  in graphics | reverse%}
               <div class="p-4 crea d-flex align-items-center justify-content-center col-md-3 col-6 p-2 m-0 position-relative">
                    <a href="https://{{graphic.url}}" target="_blank" class="a-crea d-flex flex-column align-items-center justify-content-center text-center h-100 w-100 position-absolute">
                        <h2 class="name-crea">{{graphic.client}}</h2>
                        <p class="name-crea">{{graphic.categorie}}</p>
                    </a>
                    <span class="sail-crea h-100 w-100 position-absolute"></span>
                    <img class="img-fluid" src="/img/miniature_graphic/{{graphic.miniature}}">

                </div>
            {% endfor %}        
    </div>
{% endblock %}

{% block javascripts %}
    <script src='/js/crea.js'></script>
{% endblock %}