{% extends 'base.html.twig' %}

{% block title %}Création - Graphisme{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/crea.css">        
{% endblock %}

{% block body %}

<h1 class='my-5'>graphisme</h1>
<p class="mb-3"> 
    N'ayant jamais fais d'étude dans le graphisme j'ai du apprendre par moi en 2018 en tant que community manager d'un club de foot.<br>
    Par la suite j'ai pris enormement de plaisir à decouvrir les différents outils et à créer différents visuelles, logo et affiches. 
<br><br>
    Voici un apercu de mes capacités. 
</p>
    <div class="m-0 p-0 row h-100">
        
            {% for graphic  in graphics | reverse%}
               <div class="crea d-flex align-items-center justify-content-center col-md-3 col-6 p-0 m-0 position-relative">
                    <a class="a-crea d-flex align-items-center justify-content-center text-center h-100 w-100 position-absolute" href="{{path('graphic_single', {slug: graphic.slug})}}">
                        <h3 class="name-crea">{{graphic.name}}</h3>
                    </a>
                    <span class="sail-crea h-100 w-100 position-absolute"></span>
                    <img class="img-fluid" src="/img/miniature_graphic/{{graphic.miniature}}">

                </div>
            {% endfor %}        
    </div>
{% endblock %}

{% block javascripts %}
    <script src='/js/crea.js'></script>
{% endblock %}